

input[type=checkbox]{
	height: 0;
	width: 0;
	visibility: hidden;
}

label {
	cursor: pointer;
	text-indent: -9999px;
	width: 52px;
	height: 27px;
	background: var(--main-color);
	float: right;
	border-radius: 100px;
	position: relative;
}

label:after {
	content: '';
	position: absolute;
	top: 3px;
	left: 3px;
	width: 20px;
	height: 20px;
	background: var(--text-color);
	border-radius: 90px;
	transition: 0.3s;
}

input:checked + label {
	background: var(--main-color);
}

input:checked + label:after {
	left: calc(100% - 5px);
	transform: translateX(-100%);
}

label:active:after {
	width: 45px;
}

html.transition,
html.transition *,
html.transition *:before,
html.transition *:after {
  transition: all 750ms !important;
  transition-delay: 0 !important;
}


/*MEDIA QUERIES*/

/*HD before 1920*/

@media (min-width: 1501px) and (max-width: 1700px) {
    .section2-left, .section2-center, .section2-right {
        width: 30%;
        height: 85%;  
        font-size: 2rem;
        line-height: 2.3rem;  
        border-radius: 0.5rem;
        opacity: 100%; 
    
    }
}

@media (min-width: 1301px) and (max-width: 1500px) {
    .section2-left, .section2-center, .section2-right {
        width: 30%;
        height: 85%;  
        font-size: 1.5rem;
        line-height: 2.3rem;  
        border-radius: 0.5rem;
        opacity: 100%; 
    
    }
}

@media (min-width: 1001px) and (max-width: 1300px) {
    .top-div, .section1  {
        flex-direction: column; 
        padding: 2.5rem; 
    }
    
    .top-div-right{
        font-family: 'Julius Sans One', sans-serif;
        font-size: 2.7rem;
        line-height: 4rem;
    }

    .section1-text {
        width: 80%; 
        font-size: 2rem; 
        line-height: 0.6rem;
        margin-bottom: 0px; 
    }

    .section1-text-prelude:after {
        position: absolute; 
        left: 0; 
        top: 45rem;  
    }

    .section1-content {
        width: 80%; 
        padding: 0; 
    }

    .section2 {
        background-size: cover; 
        padding: 2.5rem; 
    }
    
    .section2-left, .section2-center, .section2-right {
        width: 30%;
        height: 85%;  
        font-size: 1.83rem;
        line-height: 2rem;  
        border-radius: 0.5rem;
        opacity: 100%; 
    
    }
    
    .section2-left::before {

        font-size: 1.35rem; 
        line-height: 1.2rem; 
        opacity: 100%; 
        top: -1.3rem;
        margin-top: -2rem;

    }
    
    .section2-intersection1, .section2-intersection2 {
        opacity: 0%; 
    }
    
    .section2-center::before {
        font-size: 1.35rem; 
        line-height: 1.2rem; 
        opacity: 100%; 
        top: -1.3rem;
        margin-top: -2rem;
    }
    
    .section2-right::before {
        font-size: 1.35rem; 
        line-height: 1.2rem; 
        opacity: 100%; 
        top: -1.3rem;
        margin-top: -2rem;
    }

    
    .section3 {
        padding: 2.5rem; 

    }

    .section3-up-mail {
        width: 20rem;
        height: 2rem;
        font-size: 0.75rem;   
        margin-top: 1rem; 
        margin-right: 0.2rem;
    }

    .section3-up-mail-submit {
        width: 4rem;
        height: 2.25rem;  
        font-size: 0.75rem;  
    }

    .section3-center {
        margin: 2rem 0; 
    }

    .section3-center-preface {
        font-size: 2rem; 
        font-weight: 500; 
        font-style: italic; 
        margin-bottom: 1rem; 
    }

    .section3-center-text {
        font-size: 1rem; 
        line-height: 2rem;
        margin-bottom: 40px;
    }

    .section3-center-quotes {
        font-size: 1.3rem; 
        line-height: 1.7rem;
        margin: 1rem 0; 
    }

    .section3-center-author {
        font-size: 1.2rem; 
        opacity: 95%; 
    }

    .section3-down-zero {
        font-size: 0.8rem; 
    }

    .section3-down-one-svg, .section3-down-two-svg, .section-down-three-svg {
        width: 4rem; 
        height: 4rem; 
        stroke: var(--text-color);
    }

    .section3-down-four-svg {
        width: 4rem; 
        height: 4rem; 
        fill: var(--text-color);
    }

    
    .section4 {
        padding: 2rem; 
    }

    .section4-content-preface {
        font-size: 1.9rem; 
        margin-bottom: 2rem; 
    }

    .section4 li {
        font-size: 1.2rem;
        line-height: 2.5rem; 
        margin-left: 1.5rem; 
    }

    .downwards-menu {
        height: 3rem; 
        bottom: -3rem; 
 
    }

    .downwards-menu.active {
        bottom: 0rem 
    }


    .downwards-menu-toggle-btn {
        position: absolute; 
        left: 50%;  
        top: -3rem; 
    }
    .downwards-menu-toggle-btn span {
        display: block;
        height: 5px; 
        background: var(--text-color);
        margin: 3px 0px; 
    }

    .downwards-menu-toggle-btn span:hover {
        cursor: pointer; 
    }

    .downwards-menu-toggle-btn-span1 {
        width: 2rem;
    }

    .downwards-menu-toggle-btn-span2 {
        width: 1.5rem;  
    }

    .downwards-menu-toggle-btn-span3 {
        width: 0.5rem;
    }

    .downwards-menu-toggle-btn-span4 {
        width: 1rem;
    }

    .downwards-menu-links li {
        padding: 0.5rem; 
    }

    .downwards-menu-links a {
        font-size: 0.85rem;  
    }
}

/*wide-portrait mode*/

@media (min-height: 1080px) and (max-height: 1920px) {
    .section2-left, .section2-center, .section2-right {
        width: 30%;
        height: 85%;  
        font-size: 2.2rem;
        line-height: 2.9rem;  
        border-radius: 0.5rem;
        opacity: 100%; 
    
    }
    
    .section2-left::before, .section2-center::before, 
    .section2-right::before {

        font-size: 1.7rem; 
        line-height: 1.2rem; 
        opacity: 100%; 
        top: -1.3rem;
        margin-top: -2rem;

    }
}

/**/

@media (max-width: 1000px) and (min-width:751px) {
    .top-div, .section1  {
        flex-direction: column; 
        padding: 15px; 
    }

    .section1-text {
        width: 70%; 
        font-size: 1.3rem; 
        line-height: 0.5rem;
        margin-bottom: 0px; 
    }

    .section1-text-prelude:after {
        content: '';
        animation: animateText infinite 10s;
    
        position: absolute; 
        left: 0; 
        top: 22rem;  
    }

    .section1-content {
        width: 70%; 
        padding: 0; 
    }

    .section2 {
        background-size: cover; 
        padding: 1rem; 
        flex-direction: column;
        justify-content: space-around; 
        align-items: center; 
        align-content: space-around;

    }
    
    .section2-left, .section2-center, .section2-right {
        width: 40rem; 
        height: 11rem;  
        font-size: 1.2rem;
        line-height: 2rem;  
        border-radius: 1rem;
        opacity: 95%; 
        margin: 2rem;  
    
    }
    
    .section2-left::before, .section2-center::before, .section2-right::before {

        font-size: 1.5rem; 
        line-height: 1rem; 
        opacity: 100%; 
        top: -0.8rem;
        margin-top: -1rem;

    }
    
    .section2-intersection1, .section2-intersection2 {
        width: 2rem; 
        height: 0.3rem; 
        border-radius: 2rem;
    
        opacity: 0%; 
    }
    


    .section3 {
        padding: 4rem; 
    }

    .section3-up {
        display: flex; 
    }

    .section3-up-mail {
        width: 20rem;
        height: 1.5rem;
        font-size: 0.6em;   
        margin-top: 2rem; 
        margin-right: 0.5rem; 
    }

    .section3-up-mail-submit {
        width: 4rem;
        height: 1.9rem;  
        font-size: 0.6rem; 
        margin-top: 2rem;  
    }

    .section3-center {
        margin: 1rem 0; 
    }

    .section3-center-preface {
        font-size: 2rem; 
        font-weight: 500; 
        font-style: italic; 
        margin-bottom: 1rem; 
    }

    .section3-center-text {
        font-size: 1rem; 
        line-height: 2rem;
        margin-bottom: 1rem;
    }

    .section3-center-quotes {
        font-size: 1.1rem; 
        line-height: 1.7rem;
        margin: 1rem 0; 
    }

    .section3-center-author {
        font-size: 1rem; 
        opacity: 95%; 
    }

    .section3-down-zero {
        font-size: 1rem; 
    }

    .section3-down-one-svg, .section3-down-two-svg, .section-down-three-svg {
        width: 5rem; 
        height: 5rem; 
        stroke: var(--text-color);
    }

    .section3-down-four-svg {
        width: 5rem; 
        height: 5rem; 
        fill: var(--text-color);
    }

    
    .section4 {
        padding: 4rem;
    }

    .section4-content-preface {
        font-size: 2rem; 
        line-height: 2.5rem; 
        margin-bottom: 2.2rem; 
    }

    .section4 li {
        font-size: 1.2rem;
        line-height: 2.5rem; 
        margin-left: 1.5rem; 
    }

    .downwards-menu {
        height: 3rem; 
        bottom: -3rem; 
 
    }

    .downwards-menu.active {
        bottom: 0rem 
    }


    .downwards-menu-toggle-btn {
        position: absolute; 
        left: 50%;  
        top: -3rem; 
    }
    .downwards-menu-toggle-btn span {
        display: block;
        height: 5px; 
        background: var(--text-color);
        margin: 3px 0px; 
    }

    .downwards-menu-toggle-btn span:hover {
        cursor: pointer; 
    }

    .downwards-menu-toggle-btn-span1 {
        width: 2rem;
    }

    .downwards-menu-toggle-btn-span2 {
        width: 1.5rem;  
    }

    .downwards-menu-toggle-btn-span3 {
        width: 0.5rem;
    }

    .downwards-menu-toggle-btn-span4 {
        width: 1rem;
    }

    .downwards-menu-links li {
        padding: 0.5rem; 
    }

    .downwards-menu-links a {
        font-size: 0.85rem;  
    }
}

/*smartphones specs below*/

@media only screen and (max-width: 750px) {
    .top-div, .section1  {
        flex-direction: column; 
        padding: 15px; 
    }

    .section1-text {
        width: 70%; 
        font-size: 1.3rem; 
        line-height: 0.5rem;
        margin-bottom: 0px; 
    }

    .section1-text-prelude:after {
        content: '';
        animation: animateText infinite 10s;
    
        position: absolute; 
        left: 0; 
        top: 22rem;  
    }

    .section1-content {
        width: 70%; 
        padding: 0; 
    }

    .section2 {
        background-size: cover; 
        padding: 1rem; 
        flex-direction: column;
        justify-content: space-around; 
        align-items: center; 
        align-content: space-around;

    }
    
    .section2-left, .section2-center, .section2-right {
        width: 20rem; 
        height: 11rem;  
        font-size: 1rem;
        line-height: 1.3rem;  
        border-radius: 1rem;
        opacity: 95%; 
        margin: 2rem;  
    
    }
    
    .section2-left::before {

        font-size: 1rem; 
        line-height: 1rem; 
        opacity: 100%; 
        top: -0.6rem;
        margin-top: -1rem;

    }
    
    .section2-intersection1, .section2-intersection2 {
        width: 2rem; 
        height: 0.3rem; 
        border-radius: 2rem;
    
        opacity: 0%; 
    }
    
    .section2-center::before {
        font-size: 1rem; 
        line-height: 1rem; 
        opacity: 100%; 
        top: -0.6rem;
        margin-top: -1rem;
    }
    
    .section2-right::before {
        font-size: 1rem; 
        line-height: 1rem; 
        opacity: 100%; 
        top: -0.6rem;
        margin-top: -1rem;
    }

    .section3 {
        padding: 1rem; 
    }

    .section3-up {
        display: flex; 
    }

    .section3-up-mail {
        width: 16rem;
        height: 1.5rem;
        font-size: 0.6em;   
        margin-top: 2rem; 
        margin-right: 0.5rem; 
    }

    .section3-up-mail-submit {
        width: 4rem;
        height: 1.9rem;  
        font-size: 0.6rem; 
        margin-top: 2rem;  
    }

    .section3-center {
        margin: 1.5rem 0; 
    }

    .section3-center-preface {
        font-size: 2rem; 
        font-weight: 500; 
        font-style: italic; 
        margin-bottom: 1rem; 
    }

    .section3-center-text {
        font-size: 1rem; 
        line-height: 2rem;
        margin-bottom: 1rem;
    }

    .section3-center-quotes {
        font-size: 1.1rem; 
        line-height: 1.7rem;
        margin: 1rem 0; 
    }

    .section3-center-author {
        font-size: 1rem; 
        opacity: 95%; 
    }

    .section3-down-zero {
        font-size: 0.8rem; 
    }

    .section3-down-one-svg, .section3-down-two-svg, .section-down-three-svg {
        width: 3rem; 
        height: 3rem; 
        stroke: var(--text-color);
    }

    .section3-down-four-svg {
        width: 3rem; 
        height: 3rem; 
        fill: var(--text-color);
    }

    
    .section4 {
        padding: 2rem; 
    }

    .section4-content-preface {
        font-size: 1.9rem; 
        margin-bottom: 2rem; 
    }

    .section4 li {
        font-size: 1.2rem;
        line-height: 2.5rem; 
        margin-left: 1.5rem; 
    }

    .downwards-menu {
        height: 3rem; 
        bottom: -3rem; 
 
    }

    .downwards-menu.active {
        bottom: 0rem 
    }


    .downwards-menu-toggle-btn {
        position: absolute; 
        left: 50%;  
        top: -3rem; 
    }
    .downwards-menu-toggle-btn span {
        display: block;
        height: 5px; 
        background: var(--text-color);
        margin: 3px 0px; 
    }

    .downwards-menu-toggle-btn span:hover {
        cursor: pointer; 
    }

    .downwards-menu-toggle-btn-span1 {
        width: 2rem;
    }

    .downwards-menu-toggle-btn-span2 {
        width: 1.5rem;  
    }

    .downwards-menu-toggle-btn-span3 {
        width: 0.5rem;
    }

    .downwards-menu-toggle-btn-span4 {
        width: 1rem;
    }

    .downwards-menu-links li {
        padding: 0.5rem; 
    }

    .downwards-menu-links a {
        font-size: 0.85rem;  
    }
}